/*Style for the overall page*/
html {
     /*Specify styling rules for the entire html document*/
     height: 100%; /*We want the html document to fill the full height of what its in, which is typically the browser window*/
     font-size: 16px; /*set the default font size on the page*/
}

*{ /*Specify styling for any element in the html document*/
    box-sizing: border-box; /*include the margins and border in the box size - makes for easier placement - more tomorrow*/
}

/*specify styling rules for the body (contains all the content) of the html document*/

body {
    font-family: "Raleway", sans-serif; /*tell the browser to use the Raleway font if available, otherwise any sans-serif font*/
    background-image: linear-gradient(to bottom, #858c90, #bbb); /*make the background a color that gets lighter as we go down the page*/
    background-repeat: no-repeat; /*do not repeat the background - stretch it to fill page*/
    background-attachment: fixed; /*don't scroll*/
}

div.trello-list { /*style the div with the class trello-list*/   /* .trello-list indicates a class called trello-list */
    display: inline-block; /*create a multi column display*/
    width: 300px; /*make the columns the same size*/
    background: #ddd; /*set background color*/
    border-radius: 2px 3px; /*rounded corners*/
}

div.trello-list h2 { /*style the class trello-list h2 elements*/
    margin: 8px; /* move it over from the edge*/
    font-size: 1rem; /* keep the font size consistent with the document font */
    font-weight: bold; /* bold the text */

}

div.trello-list ol { /*style the ol in the div with the class trello-list*/
    margin: 0px; /* remove the spacing of the list items */
    padding: 0px; /* remove space within the element box*/

}

div.trello-list li { /*style the list items in the trello list box */
    list-style: none; /*remove the numbering of the items in the list*/
    background-color: rgb(255, 255, 255); /*set the background color to white with rgb values*/
    font-size: .9rem; /*set the font size to slightly smaller than the heading*/
    border-radius: 1px; /*slightly round the edges*/
    margin-bottom: 10px; /*set a margin at the bottom to space items*/
    padding: 8px; /*put some spacing around the content*/

}

div.trello-list li:hover { /* style the list items for when the cursor slides over the item*/
    background-color: #f5f6f7; /*set the background to a slightly different color */
    color: #092d42; /* change the color of the list item*/

}

body { /* style all elements in the body - since we styled the body earlier, this will override the same element styling*/
    white-space: nowrap; /* don't wrap the elements onto a new line if they don't all fit, add a scroll bar if they don't all fit*/

}

div.trello-list { /* style all the elements for the class trello-list - since we have this earlier, this will override what we did earlier*/
    vertical-align: top;
}

header > h1, /*style all the h1 child elements in the header */
header > p { /* and the p children of header*/
    display: inline-block; /*place the element side by side*/
    height: 20px; /*limit the height of the items in the header*/
    padding-right: 20px; /*pad each item's content on the right side */
    vertical-align: middle; /*align each item to the middle of the box*/
    color: white; /*set text color to white*/
    border-right: 1px solid white; /* place a single vertical bar border after each item */
}

header > h1 {
    text-transform: uppercase; /* convert the content to uppercase */
    font-size: 1.1rem; /* set font size to slightly bigger than the document */
}

